// Temas para usar: jumbotron para sombras y panels

.btn-circle#user-list 
  width 30px
  height 30px
  text-align center
  padding 6px 0
  font-size 12px
  line-height 1.428571429
  border-radius 30px
  .fa
  	font-size 1.4em
div.navbar#detail-page
	position relative
	bottom 0 
	z-index 1

.comment-box-title
	margin-left 7
//-- Start of find-page css//
.row.find-page-status-icons
	font-size 1.2em
	position relative
	right 11
	margin-right 5
	text-align center
	.fa 
		padding-right 10
div.col-md-12.find-page
	position relative
	top 50
.thumbnail
	.caption
		position relative
		top -130



div.black
	height 17%
	width 100%
 	z-index 2
	background-color #000
	position relative

	top -71
	opacity 0.5

div.col-md-3#rightside
	float left
	.form-control::-webkit-input-placeholder
	  color #B8B8B8
	  font-family 'Lato'
	.jumbotron#find-page
		span
			font-weight bold
			color #888888	
	div.btn-group#find-page 
		.btn
			width 236
	.form-control
		width 212px
img#find-page
	width 87%
	height 53px
	position absolute
	bottom 209
	right 18
.jumbotron#find-page
	span
		margin-left 10
		
			
.jumbotron-contents.find-page
	p
	text-align justify
	position relative
	top -140
	font-family 'Lato'
	font-weight 500
	box-shadow 0 2px 3px rgba(0,0,0,0.2)
	.btn
		padding 11 12
		span
			font-size 25

.jumbotron-contents.find-page
	p
	text-align justify
	position relative
	top -140
	font-family 'Lato'
	font-weight 700
	box-shadow 0 2px 3px rgba(0,0,0,0.2)
	.btn
		padding 11 12
		background-size 176%
		width 117
		.fa
			font-size 20
		span.find-page 
			font-size 14
			color white

.jumbotron.find-page 
	width 392
	height 50%
	border-top-left-radius 0
	border-top-right-radius 0
	border-bottom-left-radius 4
	border-bottom-right-radius 4 
	box-shadow 0 28px 1px rgba(0, 0, 0, .2)
	.fa.find-page
		color white
	.jumbotron-photo	
		img	
			border-radius 0
		h5
			font-family 'Lato'
			font-weight 400
	.jumbotron-contents
		border-top-left-radius 0
		border-top-right-radius 0
		border-bottom-left-radius 4
		border-bottom-right-radius 4 
		
div.jumbotron
	
	h5
		color white
		position relative
		bottom 194
		width 89%
		top -144
		z-index 5
		right -5


.jumbotron#find-page
	padding 8
	padding-bottom 15
	padding-left 22
	width 392

.form-control
	height 34px
	margin-left 10

.form-control#modal-textarea
	width 291
	height 50px
	margin-left 10
	position relative
	right -13
.form-control#modal-input
	width 291
	height 50px
	margin-left 10
	position relative
	right 68
div.btn-group#find-page
	.btn
		width 240px
	
.navbar
	h1
		margin-top 0px
		margin-bottom 0px

body
	background-color #F3F3F3


#input-box-1
	background-color white
li
	color white

.thumbnail
	
	background-color white

.jumbotron-contents
	
	background-color white


.btn-info
	background-color  #99c948
	border-color #90B74D


button.btn.btn-info
	width 110
	position relative 50px
	background-image url(button-cover-2.png)
	background-repeat no-repeat
	background-size 154%

	



.btn-info:focus
	background-color #A0C95D
	border-color #A0C95D

.btn-info:hover
	background-color #A0C95D
	border-color #90B74D

.btn-info:active
	background-color #A0C95D
	border-color #A0C95D

div#picture
	margin 50px
	border-color red
	background-color white

div.col-md-1
	#sidebar
		float left

button.btn.btn-info
	width 110
	position relative 50px

div.col-md-3#rightside	
	padding-top 20px
div.btn-group#find-page
	padding-left 10px
	.fa.fa-users 
		padding-right 150px
	.fa.fa-building-o
		padding-right 200px


	
.form-control
	width 240px
	padding 10px
p
	padding-left 5px
	padding-bottom 3px

div.jumbotron.map
	position relative
	top 5
	background-color transparent
	box-shadow none
	padding-top 17px
	
span.caret
	position absolute
	right 10px
	bottom 10px

div.jumbotron.find-page
	
	.fa
		color #72C6AC
		padding-left 5px
		span
			color #909091
.fa.find-page   
	color white
					
div.thumbnail
	.btn-info
		background-color #90B74D
		border-color #90B74D

/*
end of find-page CS

*/

//Beginning of user-property-page


ol.breadcrumb#user-property-page
	width 260px
div.navbar.overcontent#user-dashboard
	position relative
	left -90px
.input-group-addon
	background-color white

div.btn-group#find-page
	.btn
		text-align justify
		text-weight bold

.input-group-addon:first-child
		position relative
		right -11px
		z-index 3
		font-size 1.2em
		color #646666
		padding 7px
div.row#perfil
	span
		margin-left 10
//end of user-property-page
//Beginning of add-property css
ol.breadcrumb#add-property
	width 260px
.btn-default
	color #80868f
.breadcrumb
	a
		color #434546
.breadcrumb
	.active
		color #64Aeca
.form-control.whitespace
	width 619
	position relative
	right -31
.form-control#descripcion
	width 548
.form-control.add-property
	height 34px
	margin-left 3px
div.navbar.overcontent
	position relative
	left -90px
div.btn-group#add-property
	.btn
		padding 10px
div.col-md-4.roommatebox
	
	position relative
	top -30
		
div.col-md-12.content
	position relative
	left -108;
.btn-info
	border-color #b7e06f	
div
	#sidebar
		p 
			border-bottom 200px
			border-color red

div.btn-group#add-property
	
	i
		padding-right 100px

		

i.fa.fa-users#sidebar
	font-size 3.0em
	color white
	padding-top 40px
	margin 0px
	z-index 1
i.fa.fa-user#sidebar
	font-size 3.0em
	color white
	padding-top 40px
	margin 0px
	z-index 1

i.fa.fa-building-o#sidebar
	font-size 3.0em
	color white
	padding-top 40px


#wrapper 
	padding-left 270px
	transition all 0.4s ease 0s
#sidebar-wrapper2
	margin-left -280px
	left 250px
	
	background #2CB0D6
	position fixed
	height 125%
	overflow-y auto
	z-index -2
	transition all 0.4s ease 0s
	text-align center
	width 150px
	top -81
#sidebar-wrapper 
	margin-left -280px
	left 250px
	
	background #2CB0D6
	position fixed
	height 125%
	overflow-y auto
	z-index 1000
	transition all 0.4s ease 0s
	text-align center
	width 150px
	top 52


.navbar.navbar-inverse
	margin-bottom 0px
	z-index 6
	width 100%
	position fixed

a.btn.btn-primary
	border-color #218EB6
	background-image url(button-cover-2.png)
	background-repeat no-repeat
	background-size 114%
	background-color #218EB6
a.btn.btn-danger	
	background-image url(button-cover-2.png)
	background-repeat no-repeat
	background-size 114%
a.btn.btn-danger#property-list
	.fa
		font-size 20
		span
			font-size 15px

a.btn.btn-primary#fotos
	text-align justify
	margin-bottom 10px
	width 150px
	background-color #3d7ec5
	background-image url(button-cover-2.png)
	background-repeat no-repeat
	background-size 100%
.btn#add-property
	padding 5px 13px
	.fa
		font-size 1.2em

this
	font-size 1.10em

.btn#fotos
	padding 5px 13px
	.fa
		font-size 1.2em
this
	font-size 1.10em	

a.btn.btn-primary#roommates
	text-align justify
	width 190px
	margin-top 15px
	background-image url(button-cover-2.png)
	background-repeat no-repeat
	background-size 100%

.btn#roommates
	padding 5px 13px
	.fa
		font-size 1.3em
this
	font-size 1.10em		
div.location
	position relative
	top -55
.form-control#location	
	z-index 4
	position relative
	bottom -49px
	


div.row#inputboxes
	
	input.right 
		display block
		width 462px

	input.left
		display block
		width 320px	
div.row.add-property
	padding 8px
	position relative
	top 50
button.btn.btn-info#add-property 
	width 170px
	margin-top -31px
	background-image url(button-cover-2.png)
	background-repeat no-repeat
	background-size 175
ol.breadcrumb
	text-align center
	margin-top 10px
button.btn.btn-info#add-property 
	right 90px


.btn.btn-primary#roommates
	left 90px
	background-color #3d7ec5
div.whitespace
	
	background-color white
div.arrow-left
	width 0 
	height 0
	border-top 20px solid transparent
	border-bottom 20px solid transparent
	border-right 40px solid #F3F3F3
	display inline
	right 90px

div#wrapper
	font-weight bold


// end of add-property css

//start of detail-page
button.btn.btn-info#detail-page
	width 188
	background-size 100%
	margin-top 55
	background-color #90b64e
	border-color #90b64e


	
.btn#detail-page
	padding 13px 13px	
div.black#detail-page
	height 20%
	width auto
 	z-index 2
	background-color #000
	position relative
	top 79

.nav-tabs.nav-justified#under
	width 100%
	font-size 0.9em
	height 55
	position relative
	top -5
	z-index 0 
.tab-content
	position relative
	top -54
	

.nav-tabs.nav-justified
	width 60%
	font-size 0.9em
	position relative
	top -60
	li
		border-left none

.nav
	li
		a
			padding 20px 15px

div.description
	color white
	z-index 2
	position absolute
	top 79
	left 46
	p
		font-weight strong
		font-size 1.54em
		color #F1F1F1
div.pricetag
	z-index 2
	position absolute
	color #badd6f
	right 40
	top 129

	
div.jumbotron#overhead
	margin 0px
img.overhead
	position absolute
	clip rect(50,auto,400,auto)
	top -150
	z-index 0
.form-control#comment-box
	width 358
div.panel#detail-page
	position relative
	bottom -69
.panel#property-list
	.table
		thead 
			tr 
				th
					padding-top 16
					padding-left 30
					padding-right 27
					

.input-group-addon#property-list:first-child
		position relative
		right -219px
		z-index 3
		font-size 1.2em
		color #646666
		padding 7px			
		border-bottom-right-radius 5
		border-top-right-radius 5	
		border-top-left-radius 0
		border-bottom-left-radius 0
		border-right 1
		border-left none
		border-right-width 1
		border-right-style solid
		border-right-color #96a0ad
.panel#property-list-2
	.table
		thead 
			tr 
				th
					padding-top 16
					padding-left 30
					padding-right 30				
.navbar-default
	background-color #53BFEE
	border-color #53BFEE

a.navbar-brand 
	position relative
	left  115px
a.navbar-brand#offset
	i	
		font-weight bold
		position relative
		left  515px
div.tab-pane
	display block
i.fa.fa-user#user
	font-size 1.30em

.fa-star.big
	color grey
	font-size 2.50em

.fa-star-o.big
	color grey
	font-size 2.50em	


ul#mytab1.nav.nav-tabs.nav-justified
	li#contactar
		background-color #4AACD1
		position relative
		right -515
ul#mytab1.nav.nav-tabs.nav-justified
	li
		a
			i 
				font-size 1.20em
				color white
div#location
	background-color white
div.jumbotron.contents.user-rating
	text-align center
.nav-tabs
	li.active
		a
			background-color #398DA5 !important
.nav-tabs
	li.active
		a:hover
			background-color #398DA5 !important
	//end of detail-page


//start of property-list
.pagination#property-list-2
	.active
		a
			background-color #53BDD8
			border-color #53BDD8
	li
		a:active
			background-color #6AD7F3
			border-color #53BDD8
	position relative
.panel#property-list-2
	.table:first-child
		tr:first-child
		th:first-child
			border-top-left-radius 10
		thead:first-child
			tr:first-child
			th:last-child
				border-top-right-radius 10	

ol.breadcrumb#property-list
	width 260px
.btn#property-list
	background-image url(button-cover-2.png)
	background-repeat no-repeat
	background-size 127%
	height 41

.modal-footer#property-list
	margin-top -10px


.modal-content
	color #A0A0A0
div.row.content
	position relative
	left -108
	top 50
button.btn.btn-info#property-list
	width 188
	background-size 100%
	margin-top 9
	background-color #90b64e
	border-color #90b64e
	.fa
		font-size 20px
		span
			font-size 15px

	
.btn#property-list
	padding 10px 13px
.panel#property-list
	border-radius 42px
body#property-list
	color #A5A6A8
.table
	thead
		tr 
			th 
				padding-left 30
	tbody
		tr
			td 
				padding-left 30
.panel#property-list
	.table:first-child
		tr:first-child
		th:first-child
			border-top-left-radius 10
		thead:first-child
			tr:first-child
			th:last-child
				border-top-right-radius 10	

		
.input-group#property-list
	
	margin-top 10
	margin-left 65
	
	width 215px
	border-bottom-left-radius 4
	border-top-left-radius 4


	.form-control:last-child
		border-top-left-radius 5
		border-bottom-left-radius 5

	border-bottom-left-radius 4
	border-top-left-radius 4
	.form-control
		color #D6D3D3

	.fa 
		color #E7E1E1
.form-control::-webkit-input-placeholder
	  color #B8B8B8

ol.breadcrumb#property-list
	width 176px
	
@media 
	min-width 768px

.nav-tabs
	background-color #55C0E2
ul#mytab1.nav.nav-tabs.nav-justified
	li
		a:hover
			background-color 	#4193A8
ul#mytab1.nav.nav-tabs.nav-justified
	li
		a:active
			background-color 	#4193A8
.panel#detail-page
	background-color #F3F3F3
	border-radius 0px
	box-shadow none 

input.search-query.form-control#property-list
	margin-top 10px



//end of property-list

//start of user-dashboard
ol.breadcrumb#user-dashboard
	width 261px
a.btn.btn-primary#fotos-user-dashboard 	
	
	text-align justify
	margin-top 10px
	width 150px
	background-color #3d7ec5
	background-image url(button-cover-2.png)
	background-repeat no-repeat
	background-size 100%
	position relative
	right -15%
	padding 10 13
div.row#user-dashboard-overhead
	.line-separators
		margin-top -16
	position relative
	left -43
h5#user-dashboard-headers
	
	position relative
	left -35
div.col-md-4.left-input
	position relative
	left -15
	.form-control 
		margin-top 7
		margin-bottom 7
	.btn-default
		margin-top 5
	div.btn-group#find-page
		
		margin-top 5
div.col-md-3.right-input
	position relative
	right 50
	.form-control 
		margin-top 7
		margin-bottom 7
	
		
		
	.btn#resetear
		padding 10px 12px
		margin-top 10
		margin-left 8
		background-image url(button-cover-2.png)
		background-repeat no-repeat
		background-size 100%	
div.col-md-12.content#user-dashboard
	position relative
	left -44
	top 50
	

a.btn.btn-primary#conectar
	
	background-color #216eb6
	background-image url(button-cover-2.png)
	background-repeat no-repeat
	background-size 100%
	margin-top 30
	padding 10 13
	.fa
		font-size 1.1em
		span
			font-size 0.9em	

.jumbotron#user-dashboard-profile
	background-color transparent
	box-shadow none
.jumbotron-contents#user-dashboard-profile
	background-color transparent
	box-shadow none

div.row.user-dashboard
	padding 0px
	position relative
	top 50
.line-separator#property-list
	height 1px
	background #E8E4E5
	border-bottom 2px solid #D7D7DB
	margin-left -15
	width 931

.line-separators
	height 1px
	background #E8E4E5
	border-bottom 2px solid #D7D7DB
	
	margin-left -35
	margin-top -10

img#triangle.user
	height 70px
	width 40px
	margin-left 65px
	z-index 0
	position absolute
	top 31px
	right -6px
img#triangle.property
	height 70px
	width 40px
	margin-left 65px
	z-index 0
	position absolute
	top 108px
	right -6px
.circle   
  width 30px
  height 30px
  line-height 30px /* adjust line height to align vertically*/
  padding 0
  border-radius 50%
  background-color #60A6BF
  text-align center
  color white
div.navbar
	margin-bottom 0px
div.row#shift
	left 30px
button.btn.btn-info#user-dashboard
	border-color #b7e06f
	width 180px
	height 40px
	margin-left 30
	bottom -10
	position relative
	background-image url(button-cover-2.png)
	background-repeat no-repeat
	background-size 100%
	background-color #90b64e
	i.fa.fa-user
		font-size 1.05em
//end of user-dashboard

//user-list-page
ol.breadcrumb#user-list
	width 161px
.row#breadcrumb
	position relative
	top 9
.panel
	.table:first-child
		color #B3B3B3
		
.table-striped
	tr:nth-child(even)
		background-color #FAFAFA


.table-striped
	tbody
		tr:nth-child(odd)
			td
				background-color white


.table
	tbody
		tr 
			td 
				padding 30
				padding-top 16
				padding-bottom 6

label#modals
	margin-left 9
	margin-top 15
.col-xs-6#modal-message-create
	.fa 
		margin-top 51
		margin-left 25
		color rgb(74, 178, 219)
.col-xs-6#modal-message-edit
	.fa 
		margin-top 15
		margin-left 14
		color rgb(74, 178, 219)
.modal-body
	p#modal-message-create
		font-size 0.89em
		font-weight bold
		margin -24 21 29 40px
.modal-body
	p#modal-message-edit
		font-size 0.70em
		font-weight bold
		margin -24 21 29 30px		
.modal-title
	margin-left 3

.panel-heading#user-list
	padding 0px
	border-bottom none	

.pagination#user-list
	li
		a:active
			background-color #53BDD8
			border-color #53BDD8

	position relative
	left 248px
div.panel.panel-footer
	background-color white


	

div.pagination
	li
		a:hover
			background-color #31AAC7

.circle#status-normal   
  width 15px
  height 15px

  line-height 15px /* adjust line height to align vertically*/
  padding 0
  border-radius 50%
  background-color #40A88F
  text-align center
  color white		
  margin-left 15
.btn-circle#user-list 
  width 30px
  height 30px
  text-align center
  padding 6px 0
  font-size 12px
  line-height 1.428571429
  border-radius 30px
  margin 3


.btn.btn-primary.btn-circle#user-list
	background-color #53545a

.btn.btn-primary.btn-circle#user-list:hover
	background-color #C6C7CF
	

 

		
.circle#status-warning
  width 15px
  height 15px
  line-height 15px /* adjust line height to align vertically*/
  padding 0
  border-radius 50%
  background-color #EB3131
  text-align center
  color white			
  margin-left 15
//end of user-list-page
.table
	margin-bottom none
	font-weight none
table
	thead
		tr
			th
				background-color rgb(44,176,214)
				color white
//start of property list

.panel#property-list-2
	border-radius 42px
.btn-primary
	border-color transparent
.panel-heading#property-list
	padding 0px
	border-bottom none	
.btn-circle#property-list 
  width 30px
  height 30px
  text-align center
  padding 6px 0
  font-size 12px
  line-height 1.428571429
  border-radius 30px
  .fa
  	font-size 1.4em
.btn.btn-primary.btn-circle#property-list
	background-color #53545a
	border-color none
	margin 3
.btn.btn-primary.btn-circle#property-list:hover
	background-color #C6C7CF

.pagination#property-list
	.active
		a
			background-color #53BDD8
			border-color #53BDD8
	li
		a:active
			background-color #6AD7F3
			border-color #53BDD8
	position relative
	
div.panel.panel-footer
	background-color white
	border-radius 0 0 10 10
//end of property list
